<!DOCTYPE html>
<html ng-app='commutely'>
  <head>
    <meta charset="utf-8" />
    <title>Commute</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="lib/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa46pNBVjqTOKMkaA9dgg9jIgnAstRd0Y&libraries=places">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="lib/Materialize/dist/js/materialize.min.js"></script>
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation" ng-controller="AuthController">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Commute</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/commute">Commute</a></li> 
        <li><a href="#/route">Route</a></li>
        <li><a ng-click="signout()">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#/commute">Commute</a></li> 
        <li><a href="#/route">Route</a></li>
        <li><a ng-click="signout()">Logout</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div ng-view></div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src='lib/lodash/dist/lodash.min.js'></script>
    <script src='lib/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='lib/angular-google-maps/dist/angular-google-maps.min.js'></script>

    <script src="app/auth/auth.js"></script>
    <script src="app/commute/commute.js"></script>
    <script src="app/route/route.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/app.js"></script>
    
    <footer class="page-footer light-blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Know when to leave each morning...</h5>
            <p class="grey-text text-lighten-4">We check the traffic conditions, weather, and transit schedules. You get a text every morning half an hour before you need to leave so you can be on time.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="blue-text text-lighten-3" href="">Colin Whitmarsh</a>
        </div> 
        <a class="grey-text text-lighten-4 right" href="http://www.maps.google.com">Google Maps</a>
        </div>
      </div>
    </footer>
  </body>
</html>