<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header left orange-text">Route</h1>
  </div>
</div>
<!-- <select class="browser-default" id="mode">
  <option value="" disabled selected>Mode of Travel</option>
  <option value="DRIVING">Driving</option>
  <option value="WALKING">Walking</option>
  <option value="BICYCLING">Bicycling</option>
  <option value="TRANSIT">Transit</option>
</select> -->
<div class="container">
  <div class="section">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Departure Location" type="text" ng-model="user.origin" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Destination" type="text" ng-model="user.destination" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select id="mode">
            <option value="" disabled selected>Mode of Travel</option>
            <option value="DRIVING">Driving</option>
            <option value="WALKING">Walking</option>
            <option value="BICYCLING">Bicycling</option>
            <option value="TRANSIT">Transit</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s1">
          <div>Arrive By: <input type="time" id="time" ng-model="user.arrival_time" /></div>
        </div>
      </div>
    <div class="row">
      <div class="input-field col s6">
        <a href class="waves-effect waves-light orange btn" ng-click="saveRoute()">Add Route</a>
      </div>
    </div>
  </form>
  </div>
  </div>
</div>
