<form  name="loginForm" ng-submit="" role="form">
    <div class="">
        <label for="username">Username</label>
        <i class=""></i>
        <input type="text" name="username" class="username" ng-model="username" required />
        <span ng-show="loginForm.username.$dirty && loginForm.username.$error.required" class="message">Username required</span>
    </div>
    <div class="">
        <label for="password">Password</label>
        <i class=""></i>
        <input type="text" name="password" class="password" ng-model="password" required />
        <span ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="message">Password required</span>
    </div>
    <div class="submit">
        <button type="submit" ng-disabled="loginForm.$invalid">Login</button>
    </div>
</form>