<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Login</h1>
  </div>
</div>
<div class="container">
  <div class="section">
    <form  name="loginForm" class="login">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" class="validate" type="text" placeholder="username" ng-model='user.username'/>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">vpn_key</i>
      <input type="password" placeholder="password" name="password" ng-model='user.password'/>
      </div>
      <a class="waves-effect waves-light orange btn" ng-click="login()">login</a>
    </form>
    <a href="#/signup">Create account?</a>
  </div>
</div>