<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Signup</h1>
  </div>
</div>
<div class="container">
  <div class="section">
    <form name="signupForm">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" class="validate" type="text" placeholder="username" ng-model='user.username'/>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">vpn_key</i>
      <input type="password" placeholder="password" name="password" ng-model='user.password'/>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input class="input-phone" placeholder="cellphone" type='text' phone-input ng-model="user.cellphone"/>
      </div>
      <a class="waves-effect waves-light orange btn" ng-click="signup()">signup</a>
    </form>
    <a href="#/login">Have an account? <strong>Signin</strong> ...</a>
  </div>
</div>